{
	"presets": ["es2015", "react", "stage-0"],
	"plugins": [
		"transform-react-display-name",
		"transform-react-inline-elements",
		"transform-react-jsx",
		"transform-object-rest-spread",
		"transform-decorators-legacy",
		"transform-runtime",
		"add-module-exports"
	],
	"env": {
		"development": {
			"plugins": [
				["react-transform", {
					"transforms": [
						{
							"transform": "react-transform-hmr",
							"imports": ["react"],
							"locals": ["module"]
						}
					]
				}]
			]
		}
	}
}